.container{
    max-width: 1280px;
    width: 100%;
    height: 600px;
    margin: auto;
    border: 1px solid yellowgreen;
    background-image:linear-gradient(to bottom left, #DAF2DA,#E9F7E9,#FEFFFE,#FFFEF7,#FFFDED,#FFFBE5,#FFFADD,#FFFADA);


    & > .header{
        height: auto;
        border:1px solid teal;
        
        

        & > .row{
            height: 40px;
            


            & > .nav1{
                display: flex;
                    & > img{
                        padding: 10px;
                    }
                
                
            }
        }
        
        


        }
       
        // & > .box{
        //   height: 300px;
        //   border: 1px solid red;
        //   display: flex;


        //   & > .rasm{
        //       border: 1px solid red;

        //       & > img{
        //           height: 300px;
        //       }
        //     }
         

        //    & > .text{
               
        //        width: 200px;
        //        height: 216px;
        //        border: 1px solid black;
        //    }
        // }

}

.container {
    .box {
        height: 300px;
        border: 1px solid red;
        display: flex;
        justify-content: space-around;
        
        .text {
            margin-top: 20px;
            p{
                max-width: 300px;
                width:100%;
                color: black;
                font-size: 9px;
            }
            button{
                width: 180px;
                height: 68px;
                background-color: transparent;
                border: 1px solid green;
                border-radius: 70%;
                .fa-solid{
                    color: green;
                }
            }
            
        }


        h3 .text-color{
            color: green;
        }
    }

}

.info{
    max-width: 900px;
    margin: auto;
    height: 215px;
   
   .box{
        height: 200px;
       border: 1px solid red;
    }
}
